# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
/build
.gradle

# other
.idea
/eclipse
/run
/gen

# Files from Forge MDK
changelog.txt
CREDITS.txt
LICENSE.txt
README.txt
TODO.md

*.psd

src/generated/resources/.cache

logs/latest.log
logs/debug.log

periodic_bees_data
periodic_bees_resource
